/* Write Your CSS Below 

Colors: 

- red
- #fb4040 red

- #f17500 darker orange
- rgb(241, 117, 0)  orange
- #f3b76a light orange
- rgb(243, 183, 106) very light orange

- yellow
- #dbff39 yellow-green
- #0d6e00 dark green

- #6d00fb indigo
- #74c9f1 lighter blue [MAIN]

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

/* 

background-color
background-image
background-size
border
border-radius
box-shadow
color
font-family
font-size
height
-linear-gradient
text-align
text-decoration
text-shadow
width
#id */
body {
  background-color: black;
  color: white;
}

h1 {
  color: #6d00fb;
}

.parent-1 {
  display: flex;
  justify-content: space-around;
}

a {
  color: green;
}

/* JORDANS 1 SECTION */
#row1 {
  flex-direction: column;
  align-content: space-around;
  align-items: space-around;
  width: 35%;
}

#row1-section1 {
  align-content: space-around;
  align-items: space-around;
}

#jordans-1 {
  height: 400px;
  width: 600px;
}

#row1-section2 {
  background-color: #74c9f1;
}

#jordans-1-desc {
  align-content: space-around;
  align-items: space-around;
}

/* JORDANS 2 SECTION */

#row2 {
  flex-direction: column;
  align-content: space-around;
  align-items: space-around;
  width: 35%;
}

#row2-section1 {
  align-content: space-around;
  align-items: space-around;
}

#jordans-2 {
  height: 400px;
  width: 600px;
}

#row2-section2 {
  background-color: red;
}

#jordans-2-desc {
  align-content: space-around;
  align-items: space-around;
}
